body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(../images/pic1.jpg);
    background-size: 1350px 900px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

body,
h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    margin-top: auto;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.footer-list {
    list-style: none;
}

.footer-list-title {
    font-weight: bold;
}

.footer-link {
    color: #fff;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

.newsletter-form {
    display: flex;
}

.newsletter-input {
    padding: 5px;
    margin-right: 10px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.copyright {
    font-size: 14px;
}

.social-list {
    list-style: none;
    display: flex;
}

.social-link {
    color: #0a0303;
    text-decoration: none;
    margin-right: 10px;
    font-size: 20px;
}

